.PrimaryButtonContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px 42px 15px 40px;

	cursor: pointer;

	width: 100%;
	height: 49px;

	font-size: inherit;

	background: #375FFF;
	border-radius: 8px;
	border: 0;
	transition: 0.3s ease-out;
}
.PrimaryButtonContainer:hover{
	background: #002FEA;
}
.PrimaryButtonContainer:active{
	background: #204CFF;
}
.PrimaryButtonContainer:disabled{
	background: #97A9F1;
	cursor: default;
}

.PrimaryButtonText{
	height: 19px;

	font-style: normal;
	font-weight: 400;
	font-size: inherit;
	line-height: 19px;

	cursor: inherit;

	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #FFFFFF;

}