


.MainViewContainer{
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	overflow-x: clip;
	font-family: 'RalewayRegular';
	--workingAreaWidth: 450px;

}
.MainViewTasksContainer{
	display: flex;
	background-color: #EFEFEF;
	width: 100vw;
	overflow-y: scroll;
	scrollbar-width: none;
	padding: 2rem;
}
.MainViewTasksContainerHandler{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 1rem;
	column-gap: 1rem;
	height: 0px;
}
.TaskContainer{
	padding: 1rem;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-radius: 1rem;
}
.TaskElementHandler{
	label{
		padding: 0.6rem 0.8rem;
	}
	label:first-child{
		border: 2px solid #a5c0e0;
	}
	display: flex;
	flex-direction: column;
	.TaskElementText{
		word-wrap: break-word;
		max-width: 14rem;
	}
}
.TaskStatusHandler{
	display: flex;
	flex-direction: column;
}


.MainViewWorkingArea{
	background-color: #a5c0e0;
	cursor: pointer;
	min-height: 100%;

	width: var(--workingAreaWidth);
	margin-right: calc(90px - var(--workingAreaWidth));
	
	box-sizing: border-box;
	box-shadow: -2px 0 10px rgba(0,0,0,0.1);
	padding: 20px;

	transition: margin-right 0.3s ease ;
}
.MainViewWorkingAreaChecker{
	display: none;
}
.MainViewWorkingAreaCheckerImage{
	width: 12px;
	height: 12px;
	cursor: inherit;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	rotate: 90deg;
	transition: 0.3s ease;
}
.MainViewWorkingAreaChecker:checked + .MainViewWorkingArea{
	margin-right: 0px;
	.MainViewWorkingAreaCheckerImage{
		rotate: -90deg;
	}
}
.MainViewWorkingArea:hover{
	margin-right: calc(200px - var(--workingAreaWidth));
	.MainViewWorkingAreaCheckerImage{
		rotate: 0deg;
	}
}